/*news letter container */
.newsbox {
    width: 100%;
    height: 300px;
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.news {
    color: white;
    width: 100%;
    height : 200px;
    text-align: center;
    height:auto;
}
.news h5{
    font-size: 20px;
}
.news form {
    height: 40px;
    width: 100%;
    align-items: center;
}
.news input{
    font-size: 18px;
    border-radius: 4px;
    height: 40px;
    width: 40%;
    text-align: center;
    margin-right: 10px;
}
.news button {
    font-size: 18px;
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 4px;
    margin-top: 2px;
}
/*footer section*/
.footer-box {
    color: white;
    height: 180px;
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.footer-box a {
    text-decoration: none ;
    color: white ;
}
.footer-col {
    margin-top: 30px;
    height:150px;
    width: 30%;
    text-align: center;
}
.copyright-section {
    width: 100%;
    background-color: #000;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.copyright-section p {
    margin-bottom: 0;
}