<div class="hero-banner">
    </div>
<h1>{{name}}</h1>
<div class="blog-container">
  <div *ngFor="let blog of blogs" class="blog-card">
    <img [src]="blog.image" [alt]="blog.title" />
    <h3>{{ blog.title }}</h3>
    <p>{{ blog.description }}</p>
    <a [href]="blog.link" target="_blank" class="read-more-btn">Read More</a>
  </div>
</div>
<div class="section">
  <h2>{{news}}</h2>
  <div class="blog-container">
    <div *ngFor="let news of latestNews" class="blog-card">
      <img [src]="news.image" [alt]="news.title" />
      <h3>{{ news.title }}</h3>
      <p>{{ news.description }}</p>
      <a [href]="news.link" target="_blank" class="read-more-btn">Read More</a>
    </div>
  </div>
</div>